.delete-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px); /* Blurs the background */
}


.body {
    background: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 18px;
    border-radius: 20px;
    padding: 32px 40px;
    min-width: 320px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
    align-items: center;
}